@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 50, 100, 113;
  --background-start-rgb: 50, 100, 113;
  --background-end-rgb: 50, 100, 113;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 50, 100, 113;
    --background-start-rgb: 50, 100, 113;
    --background-end-rgb: 50, 100, 113;
  }
}

body {
  background: rgb(50, 100, 113)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.moveable {
    position: absolute;
    z-index: 10;
    text-align: center;
    padding: 1px;
    cursor: move;
    z-index: 10;
}