@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 50, 100, 113;
  --background-start-rgb: 50, 100, 113;
  --background-end-rgb: 50, 100, 113;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 50, 100, 113;
    --background-start-rgb: 50, 100, 113;
    --background-end-rgb: 50, 100, 113;
  }
}

body {
  background: rgb(50, 100, 113)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.moveable {
    position: absolute;
    z-index: 10;
    text-align: center;
    padding: 1px;
    cursor: move;
    z-index: 10;
}

.start-bar-window {
  vertical-align: middle;
  height: 22px;
  line-height: 22px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-family: Arial;
  font-weight: 400;
  color: #000
}
